.container {
    min-width: 250px;
    margin: auto;
    font-family: Arial, sans-serif;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    width: 48%;
    padding: 8px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

#status {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

/* Định dạng cho đèn trạng thái */
#status-light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* Các màu cho trạng thái proxy */
.status-green {
    background-color: green;
}

.status-red {
    background-color: red;
}

.status-yellow {
    background-color: yellow;
}

.status-gray {
    background-color: gray;
}